<li class={{this.styleNamespace}}>
  <div class="details">
    <h2>
      {{this.movie.title}}
    </h2>

    <p> 
      <strong>Released: </strong>{{this.movie.releaseYear}} | 
      <strong>Genre: </strong> {{this.movie.genre}} | <strong>Rating: </strong>{{this.movie.rating}}
    </p>

    <p>
      {{this.movie.description}}
    </p>
  </div>
</li>